<% if banners.present? %>
  <% banners[0..2].each do |banner| %>
    <div class="card">
      <a href="<%= client_path(banner.client.id) %>" class="image">
        <%= image_tag banner.client.image.url(:medium), {class: ""} %>
      </a>
      <a href="<%= client_path(banner.client.id) %>" class="content">
        <div class="header"><%= banner.client.name %></div>
        <%= render partial: "shared/contact-client", locals: {client: banner.client} %>
      </a>
    </div>
  <% end %>
<% end %>