- unless controller_name == "welcome"
  .ui.fluid.vertical.text.menu
    %h3.ui.header Elegí una ciudad
    .ui.fluid.search
      .ui.icon.input
        %input.prompt{placeholder: "Buscar ciudade...", type: "text"}/
        %i.search.icon
      .results
    .ui.divider

- if controller_name == "welcome"
  .ui.grid
    .tablet.only.column.computer.only.column
      .ui.vertical.menu.inverted.fluid
        - if @sections.any?
          - @sections.each do |section|
            %a.item{href: page_path(section.first_page)}
              = section.title
- elsif controller_name == "pages"
  .ui.grid
    .tablet.only.column.computer.only.column
      .ui.vertical.menu.inverted.fluid
        - if @pages_current_section.any?
          - @pages_current_section.each do |page|
            %a.item{href: page_path(page), :class => ("active" if page.id == params[:id].to_i)}
              = page.title
- elsif controller_name == "city"
  %h3.ui.header
    = @city.name
  - if @categories.any?
    .ui.grid
      .tablet.only.column.computer.only.column
        .ui.vertical.menu.fluid
          - @categories.each do |category|
            .item
              %a.header{href: "?category=#{category.id}"}
                = category.title
              - if category.children.any?
                .menu
                  %a.item{href: "#"}
                    Mostrar todos
                  - category.children.each do |subcategory|
                    %a.item{href: "?category=#{category.id}&subcategory=#{subcategory.id}"}
                      = subcategory.title
