- if banners.present?
  - if banners.count>3
    - banners[3..-1].each do |banner|
      .card.banner-card
        %a.image{href: "#{client_path(banner.client.id)}"}
          = image_tag banner.client.image.url(:medium), {class: ""}
        %a.content{href: "#{client_path(banner.client.id)}"}
          .header= banner.client.name
          = render partial: "shared/contact-client", locals: {client: banner.client}