.ui.grid.attached
	.sixteen.wide.column.logo-home
		= image_tag "logo.png", {class: "ui centered big image"}
	.sixteen.wide.column
		.ui.menu
			= link_to "Region 1", "#", {class: "item"}
			= link_to "Region 2", "#", {class: "item"}
			= link_to "Region 3", "#", {class: "item"}


	- @destacados.each_with_index do |dest, i|
		.sixteen.wide.mobile.eight.wide.tablet.four.wide.computer.column
			.ui.card
				.content
					/.right.floated.meta
					/	= dest[:vistas]
					/	vistas
					%strong
						= dest[:title]
				.image
					= image_tag "p#{(i%3)+1}.jpg"
				.extra 
					Rating:
					.ui.star.rating{data:{rating:dest[:starts], "max-rating": 5 }}
				/.extra.content
				/	.ui.large.transparent.left.icon.input
				/		= fa_icon "heart", {class: "outline"}
				/		= text_field_tag :comment, "", placeholder: "Agregar comentario"



