%h2.ui.header
  .content
    = @page.title
    -#.sub.header
    -#  .ui.star.rating{data:{rating:3, "max-rating": 5 }}

-#.ui.breadcrumb
-#  = link_to "Inicio", root_path, {class: "section"}
-#  %i.right.chevron.icon.divider
  -#= link_to @excursion.city.name, city_path(@excursion.city), {class: "section"}
  -#%i.right.chevron.icon.divider
  -#.active.section
  -#  = "Excursiones en #{@excursion.city.name}"

- unless @page.html.present?
  = render partial: "shared/image-on-top", locals: {image: @page.image}

- if @page.description.present?
  .ui.grid.attached
    .sixten.wide.column
      .ui.stacked.segment
        = @page.description

- if @page.html.present?
  .ui.segment.html-content
    - if @page.image.present?
      = image_tag @page.image.url(:medium), {class: "ui medium right floated image"}
    = @page.html.html_safe

- if @activities.any?
  .ui.divided.items
    - @activities.each do |activity|
      .item
        .image
          = image_tag activity.image.url(:medium)
        .content
          %a.header{href: activity_city_path(activity, activity.city)}
            = activity.name
          - if activity.present?
            .meta
              %span.cinema
                = "#{activity.city.name} - #{activity.city.province.name}"
          .description
            %p
              = activity.description
          .extra
            %a.ui.right.floated.primary.button{href: activity_city_path(activity, activity.city)}
              Ver mas
              %i.right.chevron.icon