- if @page.image.present?
  .ui.grid.attached.gallery
    .sixteen.wide.computer.column{style: "background-image: url(#{asset_path @page.image.url(:large)}); background-repeat: no-repeat; background-size: cover; background-position: center", data: {imageindex: "0"}}

  .ui.divider

-#.ui.breadcrumb
-#  = link_to "Inicio", root_path, {class: "section"}
-#  %i.right.chevron.icon.divider
-#  = link_to @excursion.city.name, city_path(@excursion.city), {class: "section"}
-#  %i.right.chevron.icon.divider
-#  .active.section
-#    = "Excursiones en #{@excursion.city.name}"

%h2.ui.header
  .content
    = @page.title
    -#.sub.header
    -#  .ui.star.rating{data:{rating:3, "max-rating": 5 }}

- if @page.description.present?
  .ui.grid.attached
    .sixten.wide.column
      .ui.stacked.segment
        = @page.description

- if @page.html.present?
  .ui.segment.html-content
    = @page.html.html_safe
