!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Turismo
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{href: "https://fonts.googleapis.com/css?family=Roboto", rel: "stylesheet"}/
  %body
    .ui.fluid.container
      .ui.header-top
        .ui.grid.padded
          .sixteen.wide.column
            .ui.secondary.menu
              .header.item
                %a{href: root_path}
                  = image_tag "logo_blanco.png", {class: "ui small image"}
              .right.menu
                .ui.dropdown.icon.item.mobile.only.grid
                  %i.bars.icon
                  .menu
                    = link_to "Inicio", root_path, class: "item"
                    .item
                      %i.dropdown.icon
                      %span.text Encontrá tu destino
                      .menu
                        - if @regions.present?
                          - @regions.each do |region|
                            = link_to region[:name], region_path(region.id), class: "item"
                    .item
                      %i.dropdown.icon
                      %span.text Actividades
                      .menu
                        - if @actividades.present?
                          - @actividades.each do |act|
                            = link_to act[:name], activity_path(act.id), class: "item"
                    = link_to "Contacto", new_contact_path, class: "ui item"
                = link_to "Inicio", root_path, class: "ui item tablet only computer only grid #{controller_name == 'welcome' ? 'active' : ''}"
                .ui.text.menu.tablet.only.computer.only.grid
                  %a.browse.item
                    Encontrá tu destino
                .ui.dropdown.item.tablet.only.computer.only.grid
                  Actividades
                  %i.dropdown.icon
                  .menu
                    - if @actividades.present?
                      - @actividades.each do |act|
                        = link_to act[:name], activity_path(act.id), class: "ui item"
                = link_to "Contacto", new_contact_path, class: "ui item tablet only computer only grid #{controller_name == 'contacts' ? 'active' : ''}"
                - if user_signed_in?
                  .ui.dropdown.item.tablet.only.computer.only.grid
                    = current_user.name
                    %i.dropdown.icon
                    .menu.user-menu
                      = link_to "Datos personales", edit_user_registration_path, class: "ui item"
                      - if current_user.admin? 
                        = link_to "Administrador", rails_admin.dashboard_path, class: "ui item", target: "_blank"
                      = link_to "Cerrar sesión", destroy_user_session_path, method: :delete, class: "ui item"
                - else
                  = link_to "Ingresar", user_session_path, class: "ui item tablet only computer only grid #{controller_name == 'sessions' ? 'active' : ''}"

      = render partial: "shared/regions-navigator", locals: {regions: @regions}
      .ui.divider
      .ui.grid.padded
        .one.wide.computer.only.column
        .sixteen.wide.mobile.sixteen.wide.tablet.fourteen.wide.computer.column
          .ui.grid.padded
            - if controller_name == "welcome"
              .sixteen.wide.mobile.four.wide.tablet.three.wide.computer.column.left-menu
                = render partial: "shared/left-side"
              .sixteen.wide.mobile.twelve.wide.tablet.thirteen.wide.computer.column
                %div.logo-home
                  = image_tag "logo_shadow.png", {class: "ui centered big image"}
              .ui.grid.padded
                .sixteen.wide.column
                  .ui.divider
                  .ui.raised.segment
                    %p Pellentes que habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
                  .ui.divider
              .ui.grid.padded
                .four.wide.column.left-menu
                  .ui.link.cards
                    = render partial: "shared/left-banner", locals: {banners: @banners}
                .twelve.wide.column
                  = yield
            - else
              .sixteen.wide.mobile.four.wide.tablet.four.wide.computer.column.left-menu
                = render partial: "shared/left-side"
                - if controller_name == "city"
                  .ui.link.cards
                    = render partial: "shared/activities-per-city"
                - if controller_name != "client"
                  .ui.link.cards
                    = render partial: "shared/left-banner", locals: {banners: @banners}
              - if controller_name == "client"
                .sixteen.wide.mobile.twelve.wide.tablet.twelve.wide.computer.column
                  = yield
              - else
                .sixteen.wide.mobile.eight.wide.tablet.eight.wide.computer.column
                  = yield
                .four.wide.tablet.only.four.wide.computer.only.column
                  .ui.link.cards
                    = render partial: "shared/right-banner", locals: {banners: @banners}
        .one.wide.computer.only.column

      = render partial: "shared/footer"

:javascript
  $( document ).ready(function() {
    $('.ui.search').search({
      minCharacters : 3,
      searchFullText: false,
      apiSettings   : {
        onResponse: function(githubResponse) {
          console.log(githubResponse)
          var response = {
            results : []
          };
          // translate GitHub API response to work with search
          $.each(githubResponse, function(index, item) {
            // add result to category
            response.results.push({
              title       : item.name,
              description : item.region_name,
              url         : item.url
            });
          });
          console.log(response)
          return response;
        },
        url: "#{raw v1_cities_path}?query={query}"
      }
    });
  
    $('.rating').rating({
        initialRating: 2,
        maxRating: 4,
        onRate: function(value){
          console.log("ranked", value)
        }
    });
    $('.ui.dropdown').dropdown();
  
    $('.menu .browse').popup({
      inline   : true,
      hoverable: true,
      position : 'bottom center',
      popup: $('.ui.fluid.popup'),
      target: '.target-menu-popup',
      delay: {
        show: 300,
        hide: 800
        },
      on: 'click'
    });
  
    $('.desination').popup({
      hoverable: true,
      position : 'bottom left'
    });
  });