<!DOCTYPE html>
<html>
  <head>
    <title>Turismo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui container fluid">
      <div class="ui sticky header-top">
        <div class='ui grid padded'>
          <div class='sixteen wide column'>
            top
          </div>
        </div>
      </div>

      <div class='ui grid padded' id="context">

        <div class='sixteen wide mobile six wide tablet three wide computer column'>
          <div class="ui fluid search">
            <div class="ui icon input">
              <input class="prompt" type="text" placeholder="Search countries...">
              <i class="search icon"></i>
            </div>
            <div class="results"></div>
          </div>


          <div class="ui fluid vertical text menu">
            <% @cities.each_with_index do |city, i| %>
              <%= link_to city[:title], "#", {class: "item #{i>4 ? 'hiddenItem isHidden' : ''}"} %>
            <% end %>
            <div class="ui divider"></div>
            <%= link_to "+ Mostrar todas las ciudades", "javascript:void(0)", {class: "item bold", id: "showCities", data:{isHidden: 1}} %>
          </div>

        </div>
        <div class='sixteen wide mobile ten wide tablet ten wide computer column'>
          <div class="notice"><%= notice %></div>
          <div class="alert"><%= alert %></div>
          <%= yield %>
        </div>
        <div class='three wide computer only column'>
        advertising
        </div>

      </div>

    </div>

<script type="text/javascript">

var content = [
  { title: 'Andorra' },
  { title: 'United Arab Emirates' },
  { title: 'Afghanistan' },
  { title: 'Antigua' },
  { title: 'Anguilla' },
  { title: 'Albania' },
  { title: 'Armenia' },
  { title: 'Netherlands Antilles' },
  { title: 'Angola' },
  { title: 'Argentina' },
  { title: 'American Samoa' },
  { title: 'Austria' },
  { title: 'Australia' },
  { title: 'Aruba' },
  { title: 'Aland Islands' },
  { title: 'Azerbaijan' },
  { title: 'Bosnia' },
  { title: 'Barbados' },
  { title: 'Bangladesh' },
  { title: 'Belgium' },
  { title: 'Burkina Faso' },
  { title: 'Bulgaria' },
  { title: 'Bahrain' },
  { title: 'Burundi' }
  // etc
];

$("#showCities").click(function(){
  val = parseInt($(this).attr("data-isHidden"))
  $(this).attr("data-isHidden", Math.abs(val-1))

  $(".hiddenItem").toggleClass("isHidden")
  if(val==1){
    $(this).text("+ Ocultar todas las ciudades")
  } else {
    $(this).text("+ Mostrar todas las ciudades")
  }

});

$('.ui.search').search({
    source: content
  });

$('.ui.sticky').sticky({
    context: '#context'
  });

$('.rating').rating({
    initialRating: 2,
    maxRating: 4
  });
</script>

  </body>
</html>
