<!DOCTYPE html>
<html>
  <head>
    <title>Turismo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui container fluid">
      <div class="ui sticky header-top">
        <div class='ui grid padded'>
          <div class='sixteen wide column'>
            <div class="ui secondary  menu">
              <div class="header item"><a href="<%= root_path %>"><%= image_tag "logo_blanco.png", {class: "ui tiny image"} %></a></div>

              <div class="right menu">
                <%= link_to "Inicio", root_path, class: "ui item" %>
                <%= link_to "Promociones", "#", class: "ui item" %>
                <%= link_to "Regiones", "#", class: "ui item" %>
                <%= link_to "Contacto", "#", class: "ui item" %>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class='ui grid padded' id="context">

        <div class='sixteen wide mobile six wide tablet three wide computer column left-menu'>
          <!--<div class="ui fluid search">
            <div class="ui icon input">
              <input class="prompt" type="text" placeholder="Search countries...">
              <i class="search icon"></i>
            </div>
            <div class="results"></div>
          </div>-->

          <div class="ui fluid vertical text menu">
            <h3 class="ui header">Eleg&iacute; un destino</h3>
            <% @cities.each_with_index do |city, i| %>
              <%= link_to city[:title], "#", {class: "item #{i>4 ? 'hiddenItem isHidden' : ''}"} %>
            <% end %>
            <div class="ui divider"></div>
            <%= link_to "+ Mostrar todas las ciudades", "javascript:void(0)", {class: "item bold", id: "showCities", data:{isHidden: 1}} %>
          </div>

          <div class="contact-form">
            <form class="ui tiny form">
              <div class="field">
                <label>Nombre completo</label>
                <input type="text" name="first-name" placeholder="Nombre completo">
              </div>
              <div class="field">
                <label>Tel&eacute;fono</label>
                <input type="text" name="last-name" placeholder="Tel&eacute;fono">
              </div>
              <div class="field">
                <label>Email</label>
                <input type="text" name="last-name" placeholder="Email">
              </div>
              <div class="field">
                <label>Mensage</label>
                <textarea rows="2"></textarea>
              </div>
              <button class="ui button" type="submit">Enviar</button>
            </form>

          </div>

            

        </div>
        <div class='sixteen wide mobile ten wide tablet ten wide computer column center-panel'>
          <div class="notice"><%= notice %></div>
          <div class="alert"><%= alert %></div>
          <%= yield %>
        </div>
        <div class='three wide computer only column'>

        <div class="ui sticky sticky-ad" style="width: 100% !important; height: 100% !important;">
          <a href="#" style="background-image: url(<%= asset_path 'banner.jpg' %>);  background-repeat: no-repeat; background-size: contain; background-position: center">
          </a>
        </div>

        </div>

      </div>

      <div class='ui grid'>
        <div class='sixteen wide mobile sixteen wide tablet thirteen wide computer column'>
          <div class="ui inverted vertical footer segment">
            <div class="ui center aligned container">
              <%= image_tag "logo_blanco.png", {class: "ui centered small image"} %>
              <div class="ui horizontal inverted small divided link list">
                <a class="item" href="#">Sitemap</a>
                <a class="item" href="#">Contacto</a>
                <a class="item" href="#">T&eacute;rminos y condiciones</a>
                <a class="item" href="#">Pol&iacute;ticas de privacidad</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>


<script type="text/javascript">

var content = [
  { title: 'Andorra' },
  { title: 'United Arab Emirates' },
  { title: 'Afghanistan' },
  { title: 'Antigua' },
  { title: 'Anguilla' },
  { title: 'Albania' },
  { title: 'Armenia' },
  { title: 'Netherlands Antilles' },
  { title: 'Angola' },
  { title: 'Argentina' },
  { title: 'American Samoa' },
  { title: 'Austria' },
  { title: 'Australia' },
  { title: 'Aruba' },
  { title: 'Aland Islands' },
  { title: 'Azerbaijan' },
  { title: 'Bosnia' },
  { title: 'Barbados' },
  { title: 'Bangladesh' },
  { title: 'Belgium' },
  { title: 'Burkina Faso' },
  { title: 'Bulgaria' },
  { title: 'Bahrain' },
  { title: 'Burundi' }
  // etc
];

$("#showCities").click(function(){
  val = parseInt($(this).attr("data-isHidden"))
  $(this).attr("data-isHidden", Math.abs(val-1))

  $(".hiddenItem").toggleClass("isHidden")
  if(val==1){
    $(this).text("+ Ocultar todas las ciudades")
  } else {
    $(this).text("+ Mostrar todas las ciudades")
  }

});

$('.ui.search').search({
    source: content
  });

$('.ui.sticky').sticky({
    context: '#context'
  });

$('.rating').rating({
    initialRating: 2,
    maxRating: 4
});

$( document ).ready(function() {
});
</script>

  </body>
</html>
