<!DOCTYPE html>
<html>
  <head>
    <title>Turismo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>

  <body>
    <div class="ui fluid container">
      <div class="ui sticky header-top">
        <div class='ui grid padded'>
          <div class='sixteen wide column'>
            <div class="ui secondary menu">
              <div class="header item"><a href="<%= root_path %>"><%= image_tag "logo_blanco.png", {class: "ui tiny image"} %></a></div>

              <div class="right menu">
                <div class="ui dropdown icon item mobile only grid">
                  <i class="bars icon"></i>
                  <div class="menu">
                    <%= link_to "Inicio", root_path, class: "item" %>
                    <div class="item">
                      <i class="dropdown icon"></i>
                      <span class="text">Actividades</span>
                      <div class="menu">
                      <% if @actividades.present? %>
                        <% @actividades.each do |act| %>
                          <%= link_to act[:name], activity_path(act.id), class: "item" %>
                        <% end %>
                      <% end %>
                      </div>
                    </div>
                    <%= link_to "Contacto", "#", class: "ui item" %>

                  </div>
                </div>

                <%= link_to "Inicio", root_path, class: "ui item tablet only computer only grid" %>
                <div class="ui text menu tablet only computer only grid">
                  <a class="browse item">
                    Encontrá tu destino
                  </a>
                </div>
                <div class="ui dropdown item tablet only computer only grid">
                  Actividades <i class="dropdown icon"></i>
                  <div class="menu">
                    <% if @actividades.present? %>
                      <% @actividades.each do |act| %>
                        <%= link_to act[:name], activity_path(act.id), class: "ui item" %>
                      <% end %>
                    <% end %>
                  </div>
                </div>
                <%= link_to "Contacto", "#", class: "ui item tablet only computer only grid" %>
              </div>
            </div>

          </div>
        </div>
      </div>

      <%= render partial: "shared/regions-navigator", locals: {regions: @regions} %>

      <div class='ui grid padded' id="context">
        <div class='six wide tablet only three wide computer only column left-menu'>
          <div class="ui fluid vertical text menu">
            <h3 class="ui header">Elegí una ciudad</h3>
            <div class="ui fluid search">
              <div class="ui icon input">
                <input class="prompt" type="text" placeholder="Buscar ciudade...">
                <i class="search icon"></i>
              </div>
              <div class="results"></div>
            </div>

            <div class="ui divider"></div>

            <div class="ui link cards">
              <%= render partial: "shared/left-banner", locals: {banners: @banners} %>
            </div>


          </div>

          

        </div>
        <div class='sixteen wide mobile ten wide tablet ten wide computer column center-panel'>
          <div class="notice"><%= notice %></div>
          <div class="alert"><%= alert %></div>
          <%= yield %>
        </div>
        <div class='three wide computer only column'>



<div class="ui link cards">
  <%= render partial: "shared/right-banner", locals: {banners: @banners} %>
</div>




        </div>

      </div>
      <%= render partial: "shared/footer" %>
    </div>

<script type="text/javascript">
var content = [];

<% 
if @cities_and_regions.present?
  @cities_and_regions[0..44].each do |city|
  %>
    content.push({title: "<%= city['city'].to_s %>", region: "<%= city['region'].to_s %>"})
  <%
  end
end
%>

$( document ).ready(function() {

  $('.ui.search').search({
    //type          : 'category',
    minCharacters : 3,
    searchFullText: false,
    apiSettings   : {
      onResponse: function(githubResponse) {
        console.log(githubResponse)
        var response = {
          results : []
        };
        // translate GitHub API response to work with search
        $.each(githubResponse, function(index, item) {
          // add result to category
          response.results.push({
            title       : item.name,
            description : item.region_name,
            url         : item.url
          });
        });
        console.log(response)
        return response;
      },
      url: "<%= raw v1_cities_path %>?query={query}"
    }
  });

  $('.ui.sticky').sticky({
      context: '#context'
    });

  $('.rating').rating({
      initialRating: 2,
      maxRating: 4,
      onRate: function(value){
        console.log("ranked", value)
      }
  });
  $('.ui.dropdown').dropdown();

  $('.menu .browse').popup({
    inline   : true,
    hoverable: true,
    position : 'bottom center',
    popup: $('.ui.fluid.popup'),
    target: '.target-menu-popup',
    delay: {
      show: 300,
      hide: 800
      },
    on: 'click'
  });

  $('.desination').popup({
    hoverable: true,
    position : 'bottom left'
  });


});
</script>

  </body>
</html>
